<div id='sidebar'>
    <div class="panel panel-border official-account">
        <div class='header'>
            <span class='col_fade'>公告栏</span>
        </div>
        <div class="oa-content">
            <img src="//imweb.io/public/images/official-account-new.jpg" width="200" height="200" />
            <p>微信扫码关注imweb公众号</p>
        </div>
    </div>
    <div id="article-sort-panel" class='panel panel-border'>
        <div class='header'>
        <span class='col_fade'>文章分类</span>
        </div>
            <div class=" tab-header">
            
            <% [['all', '全部']].concat(tabs).forEach(function (pair) {
                var value = pair[0];
                var text = pair[1]; %>
            <a href="<%= value && value !== 'all' ? '/tab/' + value : '/' %>"
              class="topic-tab <%= value === tab ? 'current-tab' : '' %>"><%= text %> (<%= topic_caculate[value] || 0 %>)</a>
            <% }) %>
        </div>
    </div>

<!--     <div class='panel panel-border'>
    <div class='header'>
        <span class='col_fade'>行业动态</span><a class="more-issue" href="/issue">更多</a>
    </div>
    <div class='inner issue-rank' id="issue-rank">
        <ul>
            <% for(var i=0, len = issues.length> 10?10: issues.length; i < len; i ++){ %>
                <li class="issue-item" data-href="<%= issues[i].link %>">
                    <span class="pic"><img src="<%= issues[i].pic %>" height="50" width="68" alt="<%= issues[i].title %>"></span>
                    <span class="title" title="<%= issues[i].title %>"><%= issues[i].title %></span>
                </li>
            <% } %>
        </ul>
    </div>
</div> -->

    <% if (typeof(no_reply_topics) !== 'undefined') { %>
        <div id="current-article-panel" class='panel panel-border'>
            <div class='header'>
                <span class='col_fade'>最近文章</span>
            </div>
            <div class='inner'>
                <% if (no_reply_topics.length > 0) { %>
                <ul class="unstyled">
                    <%- partial('../topic/small', { collection: no_reply_topics, as: 'topic' }) %>
                </ul>
                <% } else { %>
                <p>暂无推荐</p>
                <% } %>
            </div>
        </div>
    <% } %>

    <% if(typeof(activity_panel_show) !== 'undefined') { %>
        <div id="activity-panel" class="panel panel-border">
            <div class="header">
                <span class="col_fade">活动会议</span>
            </div>
            <div class="inner">
                <ul class="unstyled">
                    <li title="查看全部">
                        <div>
                            <a class="dark activity-link" href="/activity" title="查看全部"></a>  
                        </div>
                    </li>
                </ul> 
            </div>
        </div>
    <% } %>

    <div id="article-author-panel" class='panel panel-border'>
        <div class='header'>
            <span class='col_fade'>作者列表</span>
        </div>
        <div class='inner user-rank' id="user-rank">
            <ul>
                <% for(var i=0, len = tops.length> 10?10: tops.length; i < len && tops[i].topic_count > 0; i ++){ %>
                    <li class="avatar-item" data-name="<%= tops[i].loginname %>">
                        <span class="avatar"><img src="<%= (tops[i].avatar || '').replace(/^https?:/, '') %>" height="40" width="40"></span>
                        <span class="name" title="<%= tops[i].name %>"><%= tops[i].name %>(<%= tops[i].topic_count || 0 %>)</span>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>

</div>
