<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>IMweb前端社区-发表文章</title>
    <link rel="stylesheet" href='/public/marktang/lib/codemirror/lib/codemirror.css'>
    <link rel="stylesheet" href='/public/marktang/lib/highlight/styles/monokai_sublime.css'>
    <link rel="stylesheet" href='/public/marktang/lib/codemirror/theme/ryan-dark.css'>

    <link rel="stylesheet" href='/public/stylesheets/main.css'>
    <link rel="stylesheet" href='/public/stylesheets/flymarkdown.css'>

  <script>
    window.imweb = window.imweb || {};
    imweb._csrf = '<%- csrf %>';
    <% if (typeof(current_user) !== 'undefined') { %>
        imweb.user = {
            id: '<%= current_user._id %>',
            loginname: '<%= current_user.loginname %>',
            is_admin: <%= typeof(current_user.is_admin) !== 'undefined' && current_user.is_admin %>
        };
    <% } else { %>
        imweb.user = null;
    <% } %>
  </script>
    <!-- build:js javascripts/marktang.js -->
    <script src="//7.url.cn/edu/jslib/jquery/1.9.1/jquery.min.js"></script>
    <script src='/public/libs/jsface.min.js'></script>
    <script src='/public/libs/EventEmitter.min.js'></script>
    <script src='/public/libs/moment.min.js'></script>
    <script src='/public/libs/lodash.compat.min.js'></script>
    <script src='/public/libs/remarkable.js'></script>

    <script src='/public/libs/webuploader/webuploader.withoutimage.js'></script>
    <script src='/public/marktang/lib/codemirror/lib/codemirror.js'></script>
    <script src='/public/marktang/lib/marked.js'></script>
    <script src='/public/marktang/lib/highlight.min.js'></script>
    <script src='/public/marktang/lib/mathjax/MathJax.js'></script>
    <script src='/public/marktang/lib/codemirror/addon/mode/overlay.js'></script>
    <script src='/public/marktang/lib/codemirror/mode/xml/xml.js'></script>
    <script src='/public/marktang/lib/codemirror/mode/markdown/markdown.js'></script>
    <script src='/public/marktang/lib/codemirror/mode/gfm/gfm.js'></script>
    <script src='/public/marktang/lib/codemirror/mode/javascript/javascript.js'></script>
    <script src='/public/javascripts/config.js'></script>
    <script src='/public/javascripts/utils.js'></script>
    <script src='/public/marktang/js/flymarkdown.js?v=1.1'></script>
    <script src='/public/javascripts/ui.js'></script>
    <script src='/public/javascripts/main.js'></script>
    <script src='/public/javascripts/draft-autosave.js'></script>
      <!-- endbuild -->

    <!--[if lte IE 8]>
    <script src='/public/marktang/lib/es5-shim.min.js'></script>
    <![endif]-->

    <!--[if IE]>  
    <script src="/public/marktang/js/base64.min.js"></script>
    <![endif]--> 
</head>
<body>
<script>

    imweb.topic = <%- inlineScript(JSON.stringify(topic)) %>;
    
</script>
<div id="main">
    <div id="slide">
        <a href="/"><img class="md-logo" src="../public/images/logo-small.png"></a>
        <ul class="slide-ul" id="sidebar-save">
            <li class="slide-li" _type="mark_new">新建文章</li>
            <li class="slide-li" _type="save_draft">保存草稿</li>
            <li class="slide-li" _type="mark_sample">markdown参考</li>
            <li class="slide-li slide-line"></li>
            <li class="slide-li" _type="my_article">我的文章</li>
            <li class="slide-li" _type="my_draft">我的草稿</li>
            <li class="slide-li slide-line"></li>
            <li class="slide-li" _type="save_evernote">存到evernote</li>
            <li class="slide-li" _type="save_yinxiang">存到印象笔记</li>
            <li class="slide-li" _type="save_md">.md存到本地</li>
            <li class="slide-li" _type="save_pdf">.pdf存到本地</li>
            <li class="slide-li" _type="save_html">获取HTML</li>
            <button class="ui-button btn-publish js-publish" type="button" _type="publish">发布</button>
        </ul>
    </div>
    <div id="top">
        <div class="top-l">
            <div class="top-l-item">
                <span class="top-l-name">填写标题:</span><input id="cur-article-title" type="text" class="input-xlarge in-title"  placeholder="请输入文章标题" value="<%if(topic && topic.title){%><%-topic.title%><%}%>"/>
            </div>
            <div class="top-l-item">
                <span class="top-l-name">选择分类:</span>
                <%var curTabKey = ""%>
                <%var curTabVal = ""%>
                <% config.tabs.forEach(function (pair) { %>
                    <a href="javascript:void(0);" class="topic-tab in-tab <%if(topic && topic['tab'] == pair[0]){%>current-tab<%curTabKey=pair[0];curTabVal=pair[1];%><%}%>" data-val="<%= pair[0] %>"><%= pair[1] %></a>
                <%});%>
            </div>
        </div>
        <div class="top-r">
            <div class="header topic_header">
                  <h1 class="topic-title out-title"><%if(topic && topic.title){%><%-topic.title%><%}else{%><span class="empty-title">请在左侧输入文章标题</span><%}%></h1>
                  <div class="title-wrap">
                        <%if(curTabVal){%>
                        <a class="ui-tag ui-tag-blue out-tab" target="_blank" href="/tab/<%=curTabKey%>"><%=curTabVal%></a>
                        <span class="empty-title js-tab-empty hide">在左侧选择一个分类</span>
                        <%}else{%>
                        <a class="ui-tag ui-tag-blue out-tab hide" target="_blank" href="/tab/<%=curTabKey%>"><%=curTabVal%></a>
                        <span class="empty-title js-tab-empty">在左侧选择一个分类</span>
                        <%}%>
                  </div>
            </div>
        </div>
    </div>
    <div id="in">
        <textarea id="code"></textarea>
        <textarea id="marktang_origin" style="display: none;">
# 欢迎使用IMWeb 马克糖

{{tags: 马克糖 markdown 好玩的编辑器 马克飞象免费版}}

**马克糖**不是一款专为印象笔记（Evernote）打造的Markdown编辑器，通过精心的设计与技术实现，配合印象笔记强大的存储和同步功能，带来前所未有的书写体验。特点概述：

- **功能丰富** ：支持高亮代码块、插入 *LaTex* 公式，工作学习好帮手
- **得心应手** ：支持插入图片，无论是本地上传/图片URL/拖放图片/直接截图粘贴，随心所欲
- **深度整合** ：支持选择笔记本和添加标签，支持从印象笔记跳转编辑，轻松管理

> 号外号外，目前还没有离线客户端来啦！[不要点击下载](http://www.webryan.net/)

-------------------

### Markdown简介

> Markdown 是一种轻量级标记语言，它允许人们使用易读易写的纯文本格式编写文档，然后转换成格式丰富的HTML页面。    —— [维基百科](https://zh.wikipedia.org/wiki/Markdown)

正如您在阅读的这份文档，它使用简单的符号标识不同的标题，将某些文字标记为**粗体**或者*斜体*，下面列举了几个高级功能，更多语法请按`Ctrl + /`查看帮助。

#### 代码块
``` javascript
function test(a,b){
console.log('helloi ');
alert(window.location)
}
```

#### LaTex 公式
$$	x = \dfrac{-b \pm \sqrt{b^2 - 4ac}}{2a} $$

#### 表格
| Item      |    Value | Qty  |
| :-------- | --------:| :--: |
| Computer  | 1600 USD |  5   |
| Phone     |   12 USD |  12  |
| Pipe      |    1 USD | 234  |

### 印象笔记相关

#### 笔记本和标签
**马克糖**增加了`{{tags: 标签A 标签B}}`语法, 以选择笔记本和添加标签。

#### 标题
**马克糖**会自动使用文档内出现的第一个标题作为笔记标题。例如本文，就是第一行的 `欢迎使用马克糖`。

#### 快捷编辑
保存在印象笔记中的笔记，右上角会有一个红色的编辑按钮，点击后会回到**马克糖**中打开并编辑该笔记。
>**注意：**目前用户在印象笔记中单方面做的任何修改，马克糖是无法自动感知和更新的。所以请务必回到马克糖编辑。

#### 数据同步
**马克糖**通过**将Markdown原文以隐藏内容保存在笔记中**的精妙设计，实现了对Markdown的存储和再次编辑。既解决了其他产品只是单向导出HTML的单薄，又规避了服务端存储Markdown带来的隐私安全问题。这样，服务端仅作为对印象笔记 API调用和数据转换之用。

>**隐私声明：用户所有的笔记数据，均保存在印象笔记中。马克糖不存储用户的任何笔记数据。**

#### 离线存储
**马克糖**使用浏览器离线存储将内容实时保存在本地，不必担心网络断掉或浏览器崩溃。为了节省空间和避免冲突，已同步至印象笔记并且不再修改的笔记将删除部分本地缓存，不过依然可以随时通过`文档管理`打开。

> **注意：**虽然浏览器存储大部分时候都比较可靠，但印象笔记作为专业云存储，更值得信赖。以防万一，**请务必经常及时同步到印象笔记**。

### 快捷键(暂不支持，敬请期待)

帮助    `Ctrl + /`
同步文档    `Ctrl + S`
创建文档    `Ctrl + Alt + N`
最大化编辑器    `Ctrl + Enter`
文档管理    `Ctrl + O`
系统菜单    `Ctrl + M`

整行移动    `Alt + 上/下箭头`
删除整行    `Ctrl + D`

加粗    `Ctrl + B`
插入图片    `Ctrl + G`
插入链接    `Ctrl + L`
提升标题    `Ctrl + H`

### 关于收费

**马克糖**目前已正式发布，为新用户提供 永久免费试用期，试用期过后需要[续费]()才能继续使用。未购买或者未及时续费，将不能同步新的笔记。之前保存过的笔记依然可以编辑。


### 反馈与建议
- 官方站点：[@马克糖](http://md.imweb.io)，微博：[@webryan](http://weibo.com/webryan "开发者个人账号")
- 邮箱：<webryan@foxmail.com>

---------
感谢阅读这份帮助文档。请点击右上角，绑定印象笔记账号，开启全新的记录与分享体验吧。
        </textarea>
    </div>
    <div id="out"></div>
    <ul class="cmd-list cmd-list-normal">
        <li title="插入图片">
            <a class="cmd fa fa-image" href="#"></a>
            <div id="file-picker"></div>
        </li>
        <li>
        <a class="cmd fa fa-info-circle hide" href="#"
            title="修改文章信息" data-type="info"></a>
        </li>
        <li>
        <a class="cmd fa fa-save hide" href="#"
            title="发表" data-type="publish"></a>
        </li>
        <li>
        <a class="cmd fa fa-list hide" href="#"
            title="操作" data-type="save"></a>
        </li>
        <li>
        <a class="cmd fa fa-history hide" href="#"
            title="文章列表" data-type="mytopic"></a>
        </li>
        <li>
        <a class="cmd cmd-draft fa fa-edit hide" href="#"
            title="草稿列表" data-type="draft">
            <i class="draft-count hide"></i>
        </a>
        </li>
    </ul>
    <ul class="cmd-list cmd-list-sample hide">
        <li>
        <a class="cmd fa fa-reply" href="#"
            title="返回" data-type="leave-sample"></a>
        </li>
    </ul>
</div>
<div id="mask"></div>
<div id="sidebar-info" class="sidebar">
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="tab-value">选择版块：</label>
            <div class="controls">
                <select class="topic-tab">
                    <option value="">请选择</option>
                    <% config.tabs.forEach(function (pair) { %>
                        <option value="<%= pair[0] %>" ><%= pair[1] %></option>
                    <%});%>
                </select>
                <span class="error-msg">请选择版本</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="tab-value">标题：</label>
            <div class="controls">
                <div class="topic-title"></div>
                <div class="topic-hint">标题直接从marktang中提取</div>
                <!--
                <div class="img">
                    <img src="/public/images/marktang_title.png" />
                </div>
                -->
            </div>
        </div>
        <div class="form-actions">
            <button class="step-continue ui-button ui-button-wide" type="button">继续</button>
        </div>
    </form>
</div>

<div id="sidebar-mytopic" class="sidebar">
    <div class="sidebar-title">文章列表</div>
    <ul class="sidebar-list" id="sidebar-mytopic-list">
    </ul>
</div>
<script id="topic-list-item" type="text/html">
    <li class="sidebar-list-item {{= item.draft ? 'edit-draft' : 'edit-topic' }}" 
        data-id="{{= item.id }}"
        data-draft-id="{{= item.draft ? item.draft.id : '' }}">
        <i class="fa fa-edit icon icon-update" title="更新文章"></i>
        <span class="title">{{= item.title }}</span>
        <div class="cmd edit-topic">重新编辑</div>
    </li>
</script>
<div id="sidebar-draft" class="sidebar">
    <div class="sidebar-title">草稿列表</div>
    <ul class="sidebar-list" id="sidebar-draft-list">
    </ul>
</div>
<script id="draft-list-item" type="text/html">
    <li class="sidebar-list-item edit-draft {{= item.topic_id ? 'update' : 'add' }}" 
        data-draft-id="{{= item.id }}">
        <i class="fa fa-edit icon icon-update" title="更新文章"></i>
        <i class="fa fa-plus-square icon icon-add" title="新文章"></i>
        <span class="title">{{= item.title }}</span>
        <span class="time">({{= item.friendly_update_at }})</span>
        <div class="cmd delete-draft">删除</div>
    </li>
</script>
<div id="loading" style="width:400px; margin:0 auto; padding-top:40px;">正在进入IMWeb马克糖... </div>
<div id="alert-error">
    <i class="fa fa-times"></i>
    <div class="msg"></div>
</div>
<div id="autosave-hint">
    <span class="time"></span>
    <span class="msg">文章已自动保存至草稿</span>
</div>
</body>
</html>
