<%- partial('../sidebar') %>
<div id='content'>
<script src="/public/javascripts/ui.js"></script>
<div class="panel" id="setting-panel">
    <div class="panel-head">
        <ul class="setting-group-list">
            <li class="<%= group === 'account' ? 'active' : '' %>">
                <a href="/setting/account">账户</a>
            </li>
            <li class="<%= group === 'basicinfo' ? 'active' : '' %>">
                <a href="/setting/basicinfo">基本信息</a>
            </li>
            <li class="<%= group === 'team' ? 'active' : '' %>">
                <a href="/setting/team">Team</a>
            </li>
            <li class="<%= group === 'binding' ? 'active' : '' %>">
                <a href="/setting/binding">社区绑定</a>
            </li>
            <li class="<%= group === 'pass' ? 'active' : '' %>">
                <a href="/setting/pass">密码</a>
            </li>
            <li class="<%= group === 'token' ? 'active' : '' %>">
                <a href="/setting/token">Access Token</a>
            </li>
        </ul>
    </div>
    <div class='panel-body'>
        <% if(typeof(error) !== 'undefined' && error){ %>
        <div class="alert alert-error">
            <%= error %>
        </div>
        <% } %>
        <% if (typeof(success) !== 'undefined' && success) { %>
        <div class="alert alert-success">
            <%= success %>
        </div>
        <% } %>
        <%- partial('./setting/' + group) %>
    </div>
</div>

</div>

<script src="/public/javascripts/common/jquery.qrcode.min.js"></script>
<script>

    $('#wechat-bind-qrcode').qrcode({
        text	: $("#wechat-bind-qrcode").attr("data-link"),
        width: 150,
        height: 150
    });
</script>
