<script src='/public/javascripts/user.js'></script>
<script>
    imweb.viewUser = <%- JSON.stringify(outUser) %>;
    imweb.viewUser.activities = <%- JSON.stringify(activity) %>;
</script>
<div id='content' class="user-detail">
    <div class="panel skill-panel">
        <div class="panel-head">
            <span class="panel-head-title">技能</span>
        </div>
        <div class="panel-body">
            <% var $skillEmpty = true; %>
            <ul class="skill-list">
                <% _.each(config.tabs, function(item){ %>   
                    <% if (topicCounts[item[0]]) { 
                        $skillEmpty = false;
                    %>
                        <li>
                            <span class="skill-score ui-circle ui-circle-36"
                                ><%= topicCounts[item[0]] %></span>
                            <span class="skill-name"><%= item[1] %></span>
                        </li>
                    <% } %>
                <% }); %>
            </ul>
            <% if ($skillEmpty) { %>
               <div class="panel-empty">
                   <div class="title">尚未产生技能</div>
                   <div class="tip">技能数值 = 动态数 + 被认同数</div>
               </div>
            <% } %>
        </div>
    </div>
    <div class="panel activity-panel">
        <div class="panel-head">
            <span class="panel-head-title">动态</span>
            <span class="panel-head-desc"></span>
        </div>
        <div class="panel-body">
            <ul class="activity-list"></ul>
            <div class="activity-more-container">
                <div class="ui-button ui-button-wide more-activity-btn"
                    >加载更多</div>
            </div>
            <div class="panel-empty hide">
                <div class="title">尚无动态</div>
                <div class="tip">快去社区活动活动吧~</div>
            </div>
        </div>
    </div>
    <div class="panel desc-panel">
        <div class="panel-head">
            <span class="panel-head-title">描述</span>
            <span class="panel-head-desc"></span>
        </div>
        <div class="panel-body">
        </div>
    </div>
    <div class="panel experience-panel">
        <div class="panel-head">
            <span class="panel-head-title">经历</span>
            <span class="panel-head-desc"></span>
        </div>
        <div class="panel-body">
        </div>
    </div>
</div>
<script type="text/html" id="user-activity-item">
    <li>
        {{ if (_type === 'topic') { }}
        <div class="activity-icon">
            <div class="ui-icon ui-icon-word"></div>
        </div>
        <div class="activity-summary">
            <div>
                <span class="activity-type">发表了文章</span>
                <a class="activity-ref ui-link" href="/topic/{{=id}}" 
                    title="{{=title}}">{{=title}}</a>
            </div>
            <div class="activity-desc">{{= title }}</div>
        </div>
        <div class="activity-info">
            <div class="create-at">
                <i class="fa fa-clock-o"></i>{{= friendly_create_at }}</div>
            <div class="topic-skill">
            </div>
        </div>
        {{ } else if (_type === 'reply') { }}
        <div class="activity-icon">
            <div class="ui-icon ui-icon-at"></div>
        </div>
        <div class="activity-summary">
            <div>
                <span class="activity-type">回复了文章</span>
                <a class="activity-ref ui-link" href="/topic/{{=topic.id}}" 
                    title="{{=topic.title}}">{{=topic.title}}</a>
            </div>
            <div class="activity-desc">{{= content }}</div>
        </div>
        <div class="activity-info">
            <div class="create-at">
                <i class="fa fa-clock-o"></i>{{= friendly_create_at }}</div>
            <div class="topic-skill">
            </div>
        </div>
        {{ } else if (_type === 'question') { }}
        <div class="activity-icon">
            <div class="ui-icon ui-icon-question"></div>
        </div>
        <div class="activity-summary">
            <div>
                <span class="activity-type">提出了一个问题</span>
                <a class="activity-ref ui-link" href="/topic/{{=id}}" 
                    title="{{=title}}">{{=title}}</a>
            </div>
            <div class="activity-desc">{{= title }}</div>
        </div>
        {{ } else if (_type === 'reply_question') { }}
        <div class="activity-icon">
            <div class="ui-icon ui-icon-exclamation"></div>
        </div>
        <div class="activity-summary">
            <div>
                <span class="activity-type">回答了问题</span>
                <a class="activity-ref ui-link" href="/topic/{{=topic.id}}" 
                    title="{{=topic.title}}">{{=topic.title}}</a>
            </div>
            <div class="activity-desc">{{= content }}</div>
        </div>
        {{ } }}
    </li>
</script>

