<%- partial('../sidebar') %>

<div id='content'>
    <div class="panel">
        <div class="panel-head">
            <span class="panel-head-title"><a href="/user/<%=user.loginname%>"><%=user.loginname%>的主页</a></span>
        </div>
    </div>
    <div class="panel">
        <div class="panel-head">
            <span class="panel-head-title"><%=user.loginname%> 创建的话题</span>
        </div>
        <div class='panel-body'>
            <% if(typeof(topics) !== 'undefined' && topics.length > 0 ){ %>
            <%- partial('../topic/list',
            {topics:topics,pages:pages,current_pages:current_page,base:'/user/'+user.loginname+'/topics'}) %>
            <% }else{ %>
                <p>无话题</p>
            <% } %>
        </div>
    </div>
</div>

