<!DOCTYPE html>
<html>
<head>
    <!-- meta -->
    <meta charset="utf-8" />
    <meta name='description' content='<%= config.description %>'>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="<%= config.keywords %>" />
    <meta name='baidu-site-verification' content='KputUQ9DeD' />

    <meta itemprop="name"content="腾讯imweb前端社区" />
    <meta itemprop="description"content="腾讯imweb前端社区，Web前端 腾讯IMWeb 团队社区" />
    <meta itemprop="image"content="http://imweb.io/public/images/logo-white.png" />
    <%
    var headers = config.site_headers || [];
    for (var i = 0, l = headers.length; i < l; i++) {
    %>
    <%- headers[i] %>
    <% } %>

    <link title="RSS" type="application/rss+xml" rel="alternate" href="/rss"/>
    <% if (config.site_icon) { %>
    <link rel="icon" href="<%- staticFile(config.site_icon) %>" type="image/x-icon"/>
    <% } %>
    <script>
    window.imweb = window.imweb || {};
    imweb._csrf = '<%- csrf %>';
    <% if (typeof(current_user) !== 'undefined') { %>
        imweb.user = {
            id: '<%= current_user._id %>',
            loginname: '<%= current_user.loginname %>',
            is_admin: <%= typeof(current_user.is_admin) !== 'undefined' && current_user.is_admin %>
        };
    <% } else { %>
        imweb.user = null;
    <% } %>
    </script>

  <!-- endbuild -->

    <link rel="stylesheet" href='/public/stylesheets/lib.css?v=1.22'>
    <link rel="stylesheet" href='/public/stylesheets/main.css?v=1.23'>

    <script type="text/javascript" src="//tajs.qq.com/stats?sId=49998595" charset="UTF-8"></script>

    <script src="//7.url.cn/edu/jslib/jquery/1.9.1/jquery.min.js"></script>

    <script type="text/javascript">
        var __require = function(path) {return path || ''};
        var requirejs = {
            baseUrl: './public/javascripts/',
            paths: {
                jquery: '//7.url.cn/edu/jslib/jquery/1.9.1/jquery.min',
                base: 'common/base'
            }
        }

        if(typeof global != 'undefined') global.requirejs = requirejs;

    </script>


    <% if (typeof(topic) !== 'undefined') { %>
    <title><%- topic.title %> - <%= config.name %></title>
    <% } else if (typeof(pageTitle) !== 'undefined') { %>
    <title><%= pageTitle %> - <%= config.name %></title>
    <% } else { %>
    <title><%= config.description %></title>
    <% } %>
    <meta content="_csrf" name="csrf-param">
    <meta content="<%= csrf %>" name="csrf-token">
</head>
<body class="<%= typeof(bodyClass) !== 'undefined' ? bodyClass : '' %>">

    <!-- navbar -->
    <div id='navbar'>
        <div id="navbar-inner">
            <div class="navbar-inner-wrapper clearfix">
                <div class="logo">
                    <a title="<%- config.name %>" href='/'>
                        <% if (config.site_logo) {%>
                        <img src="<%- staticFile(config.site_logo) %>" />
                        <%} else {%>
                        <%- config.name %>
                        <%}%>
                    </a>
                </div>
                <ul class="modules-list">
                    <li class="modules-list-item">
                        <a href="http://lego.imweb.io/" target="_blank">lego</a>
                    </li>
                    <li class="modules-list-item">
                        <a href="http://iconfont.imweb.io/" target="_blank">iconfont</a>
                    </li>
                    <!--                 <li class="modules-list-item">
                        <a href="javascript:void(0);" target="_blank">团队</a>
                    </li> -->
                    <li class="modules-list-item">
                        <a href="https://github.com/imweb/" target="_blank">github</a>
                    </li>
                    <li class="modules-list-item">
                        <a href="http://imweb.github.io/" target="_blank">imweb团队</a>
                    </li>
                    <!--                 <li class="modules-list-item">
                        <a href="/activity" target="_blank">前端动态</a>
                    </li> -->
                </ul>

                <!-- search bar -->
                <form class="form-horizontal search-form search-in-navbar" name="searchForm" action="/search" method="post">
                    <input class="input-xlarge" name="search" size="30" type="text" value="" placeholder="输入关键字" autocomplete="on" >
                    <button type="submit" name="submit"></button>
                <span class="search-btn" onclick="document.searchForm.submit.click();">
                    <i class="fa fa-search"></i>
                </span>
                </form>
            </div>

            <ul class="user-sidebar">
                <% if (typeof(current_user) !== 'undefined') { %>
                    <li class="user-sidebar-item user-publish-btn">
                      <!-- <a target="_blank" href="/marktang/index?autoOpenInfo=true"><i class="icon iconfont">&#xe600;</i></a> -->
                      <a href="javascript:void(0);" class="js-btn-publish"><i class="icon iconfont">&#xe600;</i></a>
                    </li>
                    <li class="user-sidebar-item user-menu">
                        <a id="nav-user-menu" data-name="<%= current_user.loginname %>" class="ui-dropdown user-menu user-slider-btn" href="javascript:void(0);">
                            <%= current_user.name || current_user.loginname %>
                        </a>
                        <ol id="nav-user-menu-layer" 
                            class="user-menu-layer ui-dropdown-layer ui-dropdown-layer-mini">
                            <!--<li>-->
                                <!--<a class="fa fa-user" title="个人中心" -->
                                    <!--href="/user/<%= current_user.loginname %>">个人中心</a>-->
                            <!--</li>-->
                            <li>
                                <a class="fa fa-cog" title="设置" href="/setting">社区设置</a>
                            </li>
                            <% if (current_user.is_admin) { %>
                            <li>
                                <a class="fa fa-wrench" title="后台" href="/admin/topic/all">后台管理</a>
                            </li>
                            <% } %>
                            <li class="ui-spacer">
                                <a href="/invite/send">邀请好友</a>
                            </li>
                            <li class="ui-spacer">
                                <a title="退出" href="/signout">退出登录</a>
                            </li>
                        </ol>
                    </li>
                    <li class="user-sidebar-item user-sidebar-avatar">
                        <a class='user-avatar' href="javascript:void(0);">
                            <img class="ui-avatar ui-avatar-38 user-slider-btn js-identicon" src="<%= current_user.avatar_url %>" 
                                title="<%= current_user.loginname %>" data-name="<%= current_user.loginname %>"/>
                        </a>
                    </li>

                    <li class="user-sidebar-item user-responsive-item">
                        <a href="javascript:void(0);">
                            <%= current_user.name || current_user.loginname %>
                        </a>
                        <a title="退出" href="/signout">退出登录</a>

                    </li>
                <% } else{%>
                    <li class="user-sidebar-item">
                        <a id="use-login-btn"class="user-login-btn" href="javascript:void(0);">
                            登录
                        </a>
                    </li>
                <% }%>
            </ul>
        </div>
    </div>

    <!--<div class="banner-wrapper">-->
        <!--<div class="banner" id="indexBanner">-->
            <!--<ul>-->
                <!--<li><a href="http://fequan.com/imweb/?from=timeline&isappinstalled=0" target="_blank"><img src="/public/images/banner1.jpg"/></a></li>-->

            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <% if (typeof(global_banners) == 'undefined') {
        global_banners = []
    }%>
    <div id="banner-container" class="banner-bg">
        <div id="banner">

            <ul id="sliderbox">
                <% global_banners.forEach(function(banner) { %>
                <li data-bgcolor="<%= banner.background %>"><a href="<%= banner.link %>" target="_blank"><img src="<%= banner.image %>"/></a></li>
                <% }) %>
            </ul>
            <a id="prev-btn" class="banner-button">
                <i class="banner-icon-arrow banner-icon-arrow-left"></i>
            </a>
            <a id="next-btn" class="banner-button">
                <i class="banner-icon-arrow banner-icon-arrow-right"></i>
            </a>
            <div class="sliderNav">

                <ul class="sliderNav-ul">
                    <% global_banners.forEach(function(banner) { %>
                    <li></li>
                    <% }) %>
                </ul>

            </div>

        </div>
    </div>

    <!-- search bar -->
    <form class="form-horizontal search-form search-under-banner" name="responsiveSearchForm" action="/search" method="post">
        <input class="input-xlarge" name="search" size="30" type="text" value="" placeholder="输入关键字" autocomplete="on" >
        <button type="submit" name="submit"></button>
                <span class="search-btn" onclick="document.responsiveSearchForm.submit.click();">
                    <i class="fa fa-search"></i>
                </span>
    </form>
    <!--<% if (typeof(current_user) == 'undefined' && typeof(showSignIn) !== 'undefined') { %>-->
    <div class="login-wrapper" style="display: none;">
        <div class="mask"></div>
        <div class="not-sign">
            <div class="not-sign-wrap">
                <div class="not-sign-close icon-cuowu iconfont"></div>
                <div class="step1">
                    <div class="not-sign-l banner"></div>
                    <div class="not-sign-r">
                        <div class="to-sign" style="display: none;">
                            <form class="form-horizontal form-valid" id="sign-form-1">
                                <p class="not-sign-title">注册imweb</p>
                                <div class="input-box">
                                    <input class="input-xsmall fl js-loginname-1" size="15" type="text" value="" placeholder="姓" autocomplete="off" required minlength="1" maxlength="5" name="loginname1">
                                    <input class="input-xsmall fr js-loginname-2" size="15" type="text" value="" placeholder="名" autocomplete="off" required minlength="1" maxlength="5" name="loginname2">
                                    <div class="clearfix"></div>
                                </div>
                                <div class="input-box">
                                    <input class="input-xlarge js-email" size="30" type="email" placeholder="邮箱" autocomplete="off" required email="true">
                                </div>
                                <div class="input-box">
                                    <input class="input-xlarge js-pass" size="30" type="password" placeholder="密码" autocomplete="off" required minlength="6" maxlength="30" name="passw">
                                </div>
                                <div class="ui-button-white js-to-login">已有账号，立即登录</div>
                                <input class="ui-button js-to-step2" type="submit" value="注册">
                            </form>
                            <div class="other-login">
                                <p>通过以下账号登录：</p>
                                <ul>
                                    <li class="other-login-li"><a class="iconwrap iconwrap-github" href="/auth/github"><i class="icon iconfont">&#xe625;</i></a></li>
                                    <li class="other-login-li"><a class="iconwrap iconwrap-weibo" href="/auth/weibo/auth"><i class="icon iconfont">&#xe624;</i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="to-login">
                            <form class="form-horizontal" action="/signin" method="post">
                                <p class="not-sign-title">登录imweb</p>
                                <input class="input-xlarge" name="name" size="30" type="text" value="" placeholder="姓名/邮箱" autocomplete="off">
                                <input class="input-xlarge" name="pass" size="30" type="password" placeholder="密码" autocomplete="off">
                                <div class="ui-button-white js-to-sign">用户注册</div>
                                <input type="submit" class="ui-button" value="登录">
                                <p class="forget"><a href="/search_pass">忘记密码?</a></p>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="step2" style="display: none;">
                    <div class="not-sign-l">
                        <p>imweb是<strong>真人前端社区</strong>，填写公司信息能帮助你更好的提升业内影响力。
                            <br/><strong>公司邮箱</strong>仅作一次性的验证使用，您不必担心信息泄露与垃圾邮件。</p>
                        <br/>
                        <p>如今，他们已入驻imweb：</p>
                        <% if (typeof(tops) !== 'undefined' && tops.length > 0) { %>
                        <ul class="not-sign-ul">
                            <%- partial('user/famousUser', { collection: tops, as: 'user' }) %>
                        </ul>
                        <% } %>
                    </div>
                    <div class="not-sign-r">
                        <div class="">
                            <form class="form-horizontal form-valid" action="/signup" method="post" id="sign-form-2">
                                <p class="not-sign-title">填写公司信息</p>
                                <input type="hidden" name="email" value="" />
                                <input type="hidden" name="loginname" value="" />
                                <input type="hidden" name="name" value="" />
                                <input type="hidden" name="pass" value="" />
                                <div class="input-box">
                                    <input class="input-xlarge js-comp" name="comp" size="30" type="text" value="" placeholder="公司" autocomplete="off" required>
                                </div>
                                <div class="input-box">
                                    <input class="input-xlarge js-comp_mail" name="comp_mail" size="30" type="text" placeholder="公司邮箱" autocomplete="off" required email="true">
                                </div>
                                <p class="forget">自由职业者，学生，或待业中?<a href="javascript:void(0)" class="js-jump">暂时跳过</a></p>
                                <div class="ui-button-white js-to-step1">返回上一步</div>
                                <input type="submit" class="ui-button js-submit" value="注册">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--<% } %>-->
        <div id='main' class="clearfix">
          <%- body %>
        </div>

        <div id='footer'>
            <div id='footer-main'>
                <div class='footer-link'>
                    <ul>
                        <li>友情链接</li>
                        <li><a href='http://ke.qq.com/'>腾讯课堂</a></li>
                        <li><a href='http://imweb.github.io/'>腾讯IMWeb</a></li>
                        <li><a href='http://www.alloyteam.com/'>腾讯alloyteam</a></li>
                        <li><a href='http://isux.tencent.com/'>腾讯ISUX</a></li>
                        <li><a href='http://ur.tencent.com/'>腾讯高校合作</a></li>
                        <li><a href='http://tpai.qq.com/'>T派校园</a></li>
                        <li><a href='http://ued.taobao.org/blog/'>淘宝UED</a></li>
                        <li><a href='http://fex.baidu.com/'>百度FEX</a></li>
                        <li><a href='http://www.w3ctech.com/'>w3ctech</a></li>
                        <li><a href='http://www.w3cplus.com/'>w3cplus</a></li>
                        <li><a href='http://www.html-js.com/'>前端乱炖</a></li>
                    </ul>
                    <ul>
                        <li>我们的开源</li>
                        <li><a href='https://github.com/imweb/FKB'>前端知识库</a></li>
                        <li><a href='http://iconfont.imweb.io/'>iconfont</a></li>
                        <li><a href='https://github.com/imweb/Q.js'>Q.js</a></li>
                        <li><a href='http://lego.imweb.io/'>lego</a></li>
                        <li><a href='https://github.com/BetterJS'>badjs</a></li>
                    </ul>
                    <ul>
                        <li>合作伙伴</li>
                        <li><a href='http://www.html5cn.org/'>HTML5中国</a></li>
                    </ul>
                </div>
                <div class='footer-about'>
                    <a href='http://imweb.github.io' target='_blank'>IMWEB团队</a>正式成立是时间是2011年6月7日，目前主要负责腾讯在线教育战略产品腾讯课堂，多人社交互动视频以及活动组织类项目的研发工作。 
                    <a href='http://imweb.io'><img src='//imweb.github.io/img/footerLogo.png'></a>
                    <div class='social-list'>
                        <a href='http://weibo.com/imwebteam' target='_blank' class='social-weibo'></a>
                        <a href='https://github.com/imweb' target='_blank' class='social-github'></a>
                    </div>
                </div>
 

                <div class='footer-sub'>
                    <p>Copyright &copy; 2016-2024; <a href='http://imweb.io'>imweb.io</a>. All Rights Reserved.</p>
                    <p><a href='http://imweb.github.io'>imwebteam</a> 版权所有</p>
                </div>

            </div>
        </div>
        <!--<div id="sidebar-mask"></div>-->
        <div class="user-slider-wrap"></div>
        <div class="publish-wrap"></div>
    </body>

    <script src="/public/javascripts/common/jquery.slider.js"></script>
    <script src="/public/javascripts/common/slider.js?v=1.11"></script>
</html>
