<div id='sidebar'>

    <%- partial('user/card') %>

    <% if (typeof(no_reply_topics) !== 'undefined') { %>
    <div class='panel panel-border'>
        <div class='header'>
            <span class='col_fade'>推荐文章</span>
        </div>
        <div class='inner'>
            <% if (no_reply_topics.length > 0) { %>
                <ul class="unstyled">
                    <%- partial('topic/small', { collection: no_reply_topics, as: 'topic' }) %>
                </ul>
            <% } else { %>
            <p>无</p>
            <% } %>
        </div>
    </div>
    <% } %>

    <% if (typeof(tops) !== 'undefined') { %>
    <div class='panel' style="display:none;">
        <div class='header'>
            <span class='col_fade'>积分榜</span>
            &nbsp;
            <a class='dark' href='/users/top100'>TOP 100 &gt;&gt;</a>
        </div>
        <div class='inner'>
            <% if (tops.length > 0) { %>
                <ol>
                    <%- partial('user/top', { collection: tops, as: 'user' }) %>
                </ol>
            <% } else { %>
                <p>暂无推荐</p>
            <% } %>
        </div>
    </div>
    <% } %>

</div>
