<%- partial('../sign/sidebar') %>
<div id='content'>
    <div class="panel invite-panel">
        <div class="panel-head">
            <span class="panel-head-title">加入社区</span>
        </div>
    <div id="invite" class='panel-body'>
      <% var $error = typeof(error) !== 'undefined' ? error : '' %>
      <div class="alert alert-error <%= $error ? '' : 'hide' %>">
        <%= $error %>
      </div>
      <% if (typeof(success) !== 'undefined' && success) { %>
      <div class="alert alert-success">
        <%= success %>
      </div>
      <% } else { %>
      <form id='accept_invite_form' class='form-horizontal' action='accept' method='post'>
        <div class='control-group'>
          <label class='control-label' for='email'>电子邮箱</label>
          <div class='controls'>
            <% var $email = typeof(email) !== 'undefined' ? email : '' %>
            <input class='input-xlarge email-autocomplete' disabled="disabled"
            id='email' size='30' type='text' value='<%= $email %>'/>
            <input type="hidden" name="email" value="<%= $email %>" />
          </div>
        </div> 
        <div class='control-group'>
          <label class='control-label' for='loginname'>用户名</label>
          <div class='controls'>
            <input class='input-xlarge' id='loginname' name='loginname' size='30'
                type='text' value='<%= typeof(loginname) !== 'undefined' ? loginname : '' %>' maxlength="20" />
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='pass'>密码</label>
          <div class='controls'>
            <input class='input-xlarge' id='pass' name='pass' size='30' type='password' maxlength="20" />
          </div>
        </div>
        <div class='ui-control-required control-group'>
          <label class='control-label' for='re_pass'>确认密码</label>
          <div class='controls'>
            <input class='input-xlarge' id='re_pass' name='re_pass' size='30' type='password' maxlength="20" />
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='name'>真实姓名</label>
          <div class='controls'>
            <input class='input-xlarge' id='name' name='name' size='30'
                type='text' value='<%= typeof(name) !== 'undefined' ? name : '' %>' maxlength="50" />
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='company'>公司/组织</label>
          <div class='controls'>
              <!--
            <input class='input-xlarge company-autocomplete' 
                id='company' name='company' size='30' type='text'
                    value='<%= typeof(company) !== 'undefined' ? company : '' %>' maxlength="50" />
              -->
            <select id="company" name="company" value="<%= typeof(company) !== 'undefined' ? company : '' %>">
                <option value="">请选择</option>
                <option value="腾讯">腾讯</option>
                <option value="阿里">阿里</option>
                <option value="百度">百度</option>
            </select>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='team'>Team</label>
          <div class='controls'>
            <input class='input-xlarge team-autocomplete' data-team-company-id="company"
                id='team' name='team' size='30' type='text' 
                value='<%= typeof(team) !== 'undefined' ? team : '' %>' maxlength="50" />
          </div>
        </div>
        <input type='hidden' name='_csrf' value='<%= csrf %>'/>
        <input type='hidden' name='key' id='key' value='<%= key %>'>

        <div class='form-actions'>
            <button type="submit" class="ui-button ui-button-wide">提交</button>
        </div>
      </form>
      <% } %>
    </div>
  </div>
</div>
<script src='/public/javascripts/invite.js'></script>
