<form class='form-horizontal' method='post'>
    <div class='control-group'>
        <label class='control-label' for='weibo'>
            <i class="wechat-icon"></i>
        </label>
        <div class='controls'>
            <% if (user.wechatId ) { %>
            已绑定微信号，关注IMWEB前端社区公众号后可收取好文推荐和评论通知。
            <% } else { %>
            <b>扫二维码绑定微信帐号</b>
            <div id="wechat-bind-qrcode" data-link="<%= user.wechat_bind_link%>"></div>

            <% } %>
        </div>
    </div>
    <div class='control-group'>
        <label class='control-label' for='weibo'>
            <i class="weibo-icon"></i>
        </label>
        <div class='controls'>
            <% if (user.weibo && user.weibo.loginname) { %>
            已绑定 <%= user.weibo.loginname %>
            <a href="/auth/weibo/unauth">解除绑定新浪微博帐号</a>
            <% } else { %>    
            <a class="auth-link" href="/auth/weibo/auth" target="_blank">绑定新浪微博帐号</a>
            <% } %>
        </div>
    </div>
    <div class='control-group'>
        <label class='control-label' for='github'>
            <i class="github-icon"></i>
        </label>
        <div class='controls'>
            <input type='text'id='github' name='github' 
                value="<%= user.githubUsername ? '@' + user.githubUsername : '' %>" 
                placeholder="@username" readonly="readonly" />
            <p>请通过 GitHub 登陆 CNode 来修改此处</p>
        </div>
    </div>
    <div class='form-actions hide'>
        <input type='hidden' name='_csrf' value='<%= csrf %>'/>
        <button type='submit' class='ui-button ui-button-wide'
            >保存设置</button>
    </div>
</form>
