<div id='content'>
    <div class="panel">
        <div class="panel-head">
            <span class="panel-head-title">通过 GitHub 帐号登录</span>
        </div>
        <div class='panel-body'>
            <form id='signin_form' class='form-horizontal' 
                action=<%= actionPath %> method='post'>
                <input type='hidden' name='_csrf' value='<%= csrf %>'/>
                <input type='hidden' name='isnew' value='1'/>

                <div class='form-actions'>
                    <button class="ui-button" type="submit">注册新账号</button>
                </div>
            </form>

            <form id='signin_form' class='form-horizontal spacer-30' 
                action=<%= actionPath %> method='post'>
                <div class='control-group'>
                    <label class='control-label' for='name'>用户名</label>
                    <div class='controls'>
                        <input class='input-xlarge' id='name' name='name' size='30' type='text'/>
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label' for='pass'>密码</label>
                    <div class='controls'>
                        <input class='input-xlarge' id='pass' name='pass' size='30' type='password'/>
                    </div>
                </div>
                <input type='hidden' name='_csrf' value='<%= csrf %>'/>
                <div class='form-actions'>
                    <button class="ui-button" type="submit">关联旧账号</button>
                </div>
            </form>
        </div>
    </div>
</div>
