<%- partial('../editor_sidebar') %>

<div id='content'>
    <div class="panel edit-topic-panel">
        <div class="panel-head">
            <span class="panel-head-title">
                <% if(typeof(action) !== 'undefined' && action == 'edit'){ %>
                编辑分享的github项目
                <% }else{ %>
                发布话题
                <% } %>
            </span>
        </div>
    <div class="panel-body post">
      <% if(typeof(edit_error) !== 'undefined' && edit_error){ %>
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <strong><%= edit_error %></strong>
      </div>
      <% } %>
      <% if(typeof(error) !== 'undefined' && error){ %>
      <div class="alert alert-error">
        <strong><%= error %></strong>
      </div>
      <% } %>
      <% 
          var $post;
          var $topic_id;
          if (typeof(action) !== 'undefined' && action === 'edit') { 
            $post = '/topic/' + topic_id + '/edit';
            $topic_id = topic_id;
          } else {
            $post = '/topic/save';
            $topic_id = '';
          }
      %>
      <form id='create_topic_form' action='<%= $post %>' method='post'>
          <div id="topic_create_warn"></div>
          <div class="control-group">
            <label class="control-label" for="tab-value">选择版块：</label>
            <div class="controls">
                <select name="tab" id="tab-value">
                  <option value="">请选择</option>
                  <%
                  var tabValue = '';
                  if (typeof(tab) !== 'undefined') {
                    tabValue = tab;
                  }
                  tabs.forEach(function (pair) {
                    var value = pair[0];
                    var text = pair[1];
                    %>
                    <option value="<%=value%>" <%= tabValue === value ? 'selected': '' %>><%=text%></option>
                  <%});%>
                </select>
            </div>
          </div>
          <div class="control-group import hide">
              <label class="control-label" for="importLink">可选择从其他博客导入：</label>
              <div class="controls">
                  <input type="text" id="importLink" 
                     style="width: 420px;"
                      placeholder="博客链接" />
                  <button id="getImport" type="button" class="ui-button">导入</button>
              </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="tab-value">github项目链接：</label>
            <div class="controls">
                <input type="text" id="title" name="title" placeholder="github项目链接"
                    style="width: 590px;"
                    value="<%= typeof(title) !== 'undefined' && title || '' %>" />
            </div>
          </div>
          <div class="control-group">
            <div class='markdown_editor in_editor'>
              <div class='markdown_in_editor'>
                <textarea class='editor' id='t_content' name='t_content' rows='20'
                          placeholder='文章支持 Markdown 语法, 请注意标记代码'
                        ><%= typeof(content) !== 'undefined' && content || '' %><%= typeof(content_from_marktang) !== 'undefined' && content_from_marktang || '' %></textarea>
              </div>
            </div>
          </div>
          <div class="form-actions">
            <input type='hidden' id='topic_tags' name='topic_tags' value=''>
            <input type='hidden' id='_csrf' name='_csrf' value='<%= csrf %>'>
            <button class="ui-button" type="submit">提交</button>
          </div>
        </form>
    </div>
  </div>
</div>

<!-- markdown editor -->
<script src='/public/libs/editor/editor.js'></script>
<script src='/public/libs/webuploader/webuploader.withoutimage.js'></script>
<script src='/public/libs/editor/ext.js'></script>
<script>
  (function () {
    var editor = new Editor();
    var $editor = $('.editor');
    $editor.data('editor', editor);
    editor.render($editor[0]);

    // 版块选择的检查，必须选择
    $('#create_topic_form').on('submit', function (e) {
      var tabValue = $('#tab-value').val();
      if (!tabValue) {
        alert('必须选择一个版块！');
        return false;
      }
      var title = $('#title').val();
      if(!title){
        alert('标题不可为空！');
        return false;
      }
    });
    // END 版块选择的检查，必须选择

    // 选择招聘版块时，给出提示
    $('#tab-value').on('change', function () {
      var $this = $(this);
      var value = $this.val();
      var warnMsg = '';
      if (value === 'job') {
        warnMsg = '<strong>为避免被管理员删帖，发帖时请好好阅读<a href="http://cnodejs.org/topic/541ed2d05e28155f24676a12" target="_blank">《招聘帖规范》</a></strong>';
      } else if (value === 'ask') {
        warnMsg = '<strong>提问时，请遵循 <a href="http://www.beiww.com/doc/oss/smart-questions.html" target="_blank">《提问的智慧》</a>中提及的要点，以便您更接收到高质量回复。</strong>'
      }
      $('#topic_create_warn').html(warnMsg);
    });
    // END 选择招聘版块时，给出提示

    //通过链接从其他博客导入文字内容
    $('#getImport').on('click', function(){
      var tabValue = $('#tab-value').val();
      var importLink = $('#importLink').val();
      if (!tabValue) {
        alert('必须选择一个版块！');
        return false;
      }

      if (!importLink) {
        alert('请输入导入博客链接！');
        return false;
      }

      $('#getImport').val('导入中').css('background-color','#999999').attr('disabled', true);
      $.ajax({
        type: "GET",
        url: "/importlink/getPageInfo",
        data: {link:importLink},
        success: function(data){
          var title = data.title;
          var content = data.content;

          $('.inner #create_topic_form').attr('id','import_topic_form');
          $('.markdown_in_editor').html('<textarea class="editor" id="t_content" name="t_content" rows="20" \
            placeholder="文章支持 Markdown 语法, 请注意标记代码"></textarea>');
          $('#t_content').html(content);
          $('#title').html(title);
          $('.editor_buttons').remove();
          
          $('#import_topic_form').submit();
        }
      });
      return false;
    });
    // END 通过链接从其他博客导入文字内容

  })();
</script>
<script src='/public/javascripts/draft-autosave.js'></script>
<script>
    $(function () {
        new imweb.DraftAutoSave({
            draftId: null,
            topicId: '<%= $topic_id %>',
            tab: function() {
                return $('#tab-value option:selected').val();
            },
            title: function() {
                return $('#title').val();
            },
            content: function() {
                return $('.editor').data('editor').codemirror.getValue();
            }
        });
    });
</script>
