<% var time = new Date(issue.create_at.getTime());

	function getDateFormat(time){
		return (time.getYear()+1900) + '年' + (time.getMonth()+1) + '月' + (time.getDate()) + '日';
	}
 %>
<li class="issue-list-item" data-href="<%= issue.link %>">
	<span class="issue-pic">
		<img src="<%= issue.pic %>" alt="<%= issue.title %>" width="200" height="120">
		<span class="issue-banner-text" title="<%= issue.title %>"><%= issue.title %></span>
	</span>
	<span class="issue-info">
		来源于:<i class="source"><%= issue.source %></i>
		<i class="date"><%= getDateFormat(time) %></i>
	</span>
	<span class="issue-title" title="<%= issue.desc %>"><%= issue.desc || '暂无简介' %></span>
</li>