<div class="span2">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header"><i class="icon-wrench"></i> 后台管理</li>
      <li><a href="/admin/topic/all">话题管理</a></li>
      <li><a href="/admin/user/all">用户管理</a></li>
      <li><a href="/admin/reply/all">评论管理</a></li>
      <li><a href="/admin/banner/all">展示条</a></li>
      <li><a href="/admin/activity/all">活动管理</a></li>
<!--       <li class="nav-header"><i class="icon-signal"></i> Statistics</li>
      <li><a href="stats.html">General</a></li>
      <li><a href="user-stats.html">Users</a></li>
      <li><a href="visitor-stats.html">Visitors</a></li> -->
    </ul>
    </div>
</div>