<%- partial('../sidebar') %>

<div id='content'>
    <div class="panel">
        <div class="panel-head">
            <span class="panel-head-title">关于</span>
        </div>
        <div class='topic panel-body'>
            <div class="topic_content">
                <%- markdown(multiline(function () {
                /*
                imweb.io 致力于建设国内氛围最好的web交流社区， 开发者是来自国内各大互联网公司的小伙伴业余支持。 欢迎大家加入到项目开发team中。 本社区是基于nodeJS开发，在现有nodeclub的基础上进行了丰富、扩展和自定义化。
                */
                })) %>
            </div>
        </div>
    </div>
</div>
