<%- partial('../sidebar') %>

<div id='content'>
    <div class="panel">
        <div class="panel-head">
            <span class="panel-head-title">FAQ</span>
        </div>
        <div class='topic panel-body'>
            <h3>FAQ</h3>
            <hr/>
            <div class="topic_content">
                <p>A：遇到bug和问题应该怎么处理</p>

                <p>Q：请提交github issue <a href="https://github.com/webryan/imweb" target="_blank">https://github.com/webryan/imweb</a></p>
            </div>
        </div>
    </div>
</div>
