<tr class="list-banner">
	<td style="display:none;" class='js-id' data="<%= banner._id %>"><%= banner._id %></td>
	<td class='js-image'><img src="<%= banner.image %>" alt=""></td>
	<td class="js-link"><a href="<%= banner.link %>" target="_blank"><%= banner.link %></a></td>
	<td class="js-background"><%= banner.background %></td>
	<td class="js-index"><%= banner.index %></td>
	<td class="js-status"><%= banner.status %></td>
	<td>
		<div class="btn-group">
			<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">操作 <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="/admin/edit/<%= banner._id %>" class="modify-banner-btn"><i class="icon-pencil"></i>修改</a></li>
				<li><a href="javascript:void(0)" class="delete-banner-btn"><i class="icon-trash"></i>删除</a></li>
			</ul>
		</div>
	</td>
</tr>

