<%- partial('../sidebar') %>

<div id='content'>
    <div class="panel">
        <div class="panel-head">
            <span class="panel-head-title">通知</span>
        </div>
        <div class='panel-body'>
            <% if(typeof(error) !== 'undefined' && error){ %>
            <div class="alert alert-error">
                <%= error %>
            </div>
            <% } %>
            <% if(typeof(success) !== 'undefined' && success){ %>
            <div class="alert alert-success">
                <%= success %>
            </div>
            <% } %>
            <p class="spacer">
                <a href="<%- typeof(referer) !== 'undefined' ? referer : '/' %>"
                    class="ui-button" >返回</a>
            </p>
        </div>
    </div>
</div>
