<tr class="list-activity">
	<td style="display:none;" class='js-id' data="<%= activity._id %>"><%= activity._id %></td>
	<td class="js-title"><%= activity.title %></td>
	<td class="js-desc"><%= activity.desc %></td>
	<td class='js-image'><img src="<%= activity.image %>" alt=""></td>
	<td class="js-link"><a href="<%= activity.link %>" target="_blank"><%= activity.link %></a></td>
	<td class="js-pptlink"><a href="<%= activity.pptlink %>" target="_blank"><%= activity.pptlink || ''%></a></td>
	<td>
		<div class="btn-group">
			<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">操作 <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="/activity/edit/<%= activity._id %>" class="modify-activity-btn"><i class="icon-pencil"></i>修改</a></li>
				<li><a href="javascript:void(0)" class="delete-activity-btn"><i class="icon-trash"></i>删除</a></li>
			</ul>
		</div>
	</td>
</tr>

